@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FDServer.Models.Controllers.АптекиController
@{
    
    ViewData["Title"] = "Home Page";
}
<h2>Смартфон</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Производитель</dt>

        <dt>Цена</dt>
    </dl>
</div>